<?xml version="1.0"?>
<launch>
    <arg name="lanelet2_osm_path" default="$(find aichallenge_bringup)/data/lanelet2_fixed.osm"/>
    <arg name="pcd_file_path" default="$(find aichallenge_bringup)/data/simulator.pcd"/>
    <arg name="acc" default="false"/>
    <arg name="avoid" default="false"/>
    <arg name="traffic_light" default="false"/>

    <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch">
    </include>

    <include file="$(find aichallenge_bringup)/launch/user_nodes.launch">
        <arg name="acc" default="$(arg acc)"/>
        <arg name="avoid" default="$(arg avoid)"/>
        <arg name="traffic_light" default="$(arg traffic_light)"/>
    </include>

    <include file="$(find map_file)/launch/lanelet2_map_loader.launch">
        <arg name="file_name" default="$(arg lanelet2_osm_path)"/>
    </include>

    <node pkg="map_file" type="points_map_loader" name="points_map_loader" args="noupdate $(arg pcd_file_path)"/>

    <node pkg="aichallenge_bringup" type="yaml_to_camera_info_publisher.py" name="front_camera_info_publisher" output="log" respawn="false" respawn_delay="0" args="">
        <param name="filename" value="$(find aichallenge_bringup)/data/front_camera.yaml"/>
        <param name="cameraname" value="front_camera"/>
        <param name="frame_id" value="front_camera_optical_link"/>
    </node>

    <param name="robot_description" textfile="$(find aichallenge_bringup)/data/lexus.urdf" />
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
</launch>